@import './styles/_network.css';
@import './styles/_dropdown.css';
@import './styles/_search.css';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

html {
    position: relative;
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

.btn {
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color:#FFFFFF;
    background-color: #39383d;
    text-align: center;
    position: relative;
}

.btn:hover {
    background-color: rgba(57, 56, 61, 0.85);
    transition: 0.3s;
}

.btn-selected {
    background-color:#c32436;
}

.btn-selected:hover {
    background-color: rgba(195, 36, 54, 0.85);
    transition: 0.3s;
}