.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

label {
    font-size: 1.7em;
    align-self: center;
    margin: 0 1em 0 0;
}

.network-graph {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.node {
    cursor: pointer;
    stroke-width: 2.4px;
}

.link {
    stroke: #333;
    opacity: 0.2;
}

.tooltip {
    position: absolute;
    background: rgba(69, 77, 93, 0.9);
    border-radius: 0.1rem;
    color: #fff;
    display: block;
    font-size: 12px;
    max-width: 320px;
    padding: 0.2rem 0.4rem;
    visibility: hidden;
}