.search-container {
    position: relative;
}

.search-input {
    display: block;
    width: 100%;
    padding: 0.52em 1.5em;
    padding-right: 3.2em;
    color: #39383d;
    background-color: #f6efe5;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    border-color: transparent transparent rgba(57, 56, 61, 0.1) transparent;
}

.search-icon {
    position: absolute;
    right: 6%;
    top: 24%;
    width: 8%;
    max-width: 24px;
    cursor: pointer;
}